@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #032541; /* Fondo oscuro, similar a TMDB */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    color: #081c22; /* Texto en color blanco para contraste */
}

h1 {
    font-family: 'Oswald', sans-serif; /* Usar Roboto para el título */
    font-weight: 700; /* Elige el grosor de la fuente, 700 es para negrita */
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #01b4e4; /* Color de acento similar a TMDB */
}

.chat-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    margin: 20px;
    background-color: #081c22;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-self: center;
    height: 550px; /* Altura fija o proporcional */
}

.chat-box {
    flex: 1;
    padding: 20px;
    overflow-y: auto; /* Permite el scroll */
}


.message-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.message {
    padding: 8px;
    border-radius: 5px;
    max-width: 70%;
    color: #032541; /* Texto en color blanco */
}

.user {
    background-color: #01b4e4; /* Color de acento similar a TMDB para el usuario */
    align-self: flex-end;
}

.assistant {
    background-color: #90cea1; /* Color suave para el asistente */
    align-self: flex-start;
}

.spacer {
    height: 10px;
}

.user-input-container {
    display: flex;
    align-items: center;
    padding: 20px;
    border-top: 1px solid #0f303d;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #0f303d;
    border-radius: 5px;
    flex: 1;
    margin-right: 10px;
    color: #fff; /* Texto en color blanco */
    background-color: transparent; /* Fondo transparente */
}

button {
    padding: 10px 20px;
    background-color: #01b4e4; /* Color de acento similar a TMDB */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0284b1; /* Color más oscuro al pasar el ratón */
}
